* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }
  
  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
  }

nav { 
    background-color: black;
    display: flex;
}

.desktop-nav {
    position: absolute;
    height: 100%;
    width:200;
    top: 0;
    left: 0;
    flex-direction: column;
    padding: 4rem;
}

.mobile-nav {
    position: absolute;
    width: 100%;
    padding: 1rem 2rem;
    
}
@media (min-width: 991px) {
    /* Styles to apply when the screen width is 991px or less (md-sized screens) */
    /* Add any properties you want to hide the element or set its display to none */
    /* For example, to hide the element, you can use display: none */
    /* or any other styles to make the element disappear */
    .mobile-nav {
      display: none;
    
    }
}
@media (max-width: 991px) {
    /* Styles to apply when the screen width is 991px or less (md-sized screens) */
    /* Add any properties you want to hide the element or set its display to none */
    /* For example, to hide the element, you can use display: none */
    /* or any other styles to make the element disappear */
    .desktop-nav {
      display: none;
    
    }
}

.top {
    top: 0;
    left: 0;
    justify-content: end;
}

.bottom {
    bottom: 0;
    left: 0;
    justify-content: space-between;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}